openapi: 3.1.0
info:
    title: ImageryService API
    version: 1.0.0
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/imagery/v1/search-imagery:
        get:
            tags:
                - ImageryService
            summary: SearchImagery
            description: SearchImagery searches satellite imagery scenes by bounding box, datetime range, and source, returning matching scenes and a total-results count.
            operationId: SearchImagery
            parameters:
                - name: bbox
                  in: query
                  description: Bounding box filter for imagery search, encoded as west,south,east,north.
                  required: false
                  example: "-74.10,40.60,-73.70,40.90"
                  schema:
                    type: string
                - name: datetime
                  in: query
                  description: ISO 8601 datetime or datetime range for matching imagery scenes.
                  required: false
                  example: "2026-01-15"
                  schema:
                    type: string
                - name: source
                  in: query
                  description: Optional imagery source filter, such as satellite or provider name.
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: limit
                  in: query
                  description: Maximum number of imagery scenes to return.
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "cacheHit": true
                                "dataStatus":
                                    "availability": "DATA_AVAILABILITY_OK"
                                    "detail": "example"
                                    "fetchedAt": "1717200000000"
                                "scenes":
                                    - "assetUrl": "https://example.com/worldmonitor"
                                      "datetime": "2026-01-15"
                                      "geometryGeojson": "example"
                                      "id": "example-id"
                                      "mode": "example"
                                "totalResults": 1
                            schema:
                                $ref: '#/components/schemas/SearchImageryResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
components:
    securitySchemes:
        WorldMonitorKey:
            type: apiKey
            in: header
            name: X-WorldMonitor-Key
            description: User-issued WorldMonitor API key.
        ApiKeyHeader:
            type: apiKey
            in: header
            name: X-Api-Key
            description: Alias header for the WorldMonitor API key (X-WorldMonitor-Key).
    schemas:
        JmespathProjectionError:
            description: Returned when a REST jmespath projection is invalid or exceeds the expression/output byte limits.
            properties:
                _jmespath_error:
                    description: Projection error discriminator and details.
                    type: string
                original_keys:
                    description: Top-level keys or shape of the unprojected response.
                    items:
                        type: string
                    type: array
            required:
                - _jmespath_error
                - original_keys
            type: object
        UnauthorizedError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable error message.
            required:
                - error
            description: Returned when the API key is missing, malformed, or lacks current API access.
        Error:
            type: object
            properties:
                message:
                    type: string
                    description: Error message (e.g., 'user not found', 'database connection failed')
            description: Error is returned when a handler encounters an error. It contains a simple error message that the developer can customize.
        InvalidRequestBodyError:
            type: object
            description: Returned when a JSON POST request body is empty or malformed.
            properties:
                message:
                    type: string
                    description: Invalid request body
            required:
                - message
        GatewayError:
            type: object
            description: Returned by gateway infrastructure errors before an RPC handler runs, such as origin, routing, method, authentication, or quota checks.
            properties:
                error:
                    oneOf:
                        - type: string
                        - type: object
                          additionalProperties: true
                    description: Gateway error reason or structured gateway failure details.
            required:
                - error
        RateLimitError:
            type: object
            description: Returned when a gateway or handler rate limit rejects the request.
            properties:
                error:
                    type: string
                    description: Human-readable rate-limit failure reason.
            required:
                - error
        ForbiddenError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable entitlement failure reason.
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint.
                currentTier:
                    type: integer
                    format: int32
                    description: Caller entitlement tier when known.
                planKey:
                    type: string
                    description: Caller plan key when known.
            required:
                - error
            description: Returned when a PRO-gated endpoint denies access because the caller has no resolved authenticated user, entitlements cannot be verified, or the caller lacks the required entitlement tier.
        FieldViolation:
            type: object
            properties:
                field:
                    type: string
                    description: The field path that failed validation (e.g., 'user.email' for nested fields). For header validation, this will be the header name (e.g., 'X-API-Key')
                description:
                    type: string
                    description: Human-readable description of the validation violation (e.g., 'must be a valid email address', 'required field missing')
            required:
                - field
                - description
            description: FieldViolation describes a single validation error for a specific field.
        ValidationError:
            type: object
            properties:
                violations:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: List of validation violations
            required:
                - violations
            description: ValidationError is returned when request validation fails. It contains a list of field violations describing what went wrong.
        SearchImageryRequest:
            type: object
            properties:
                bbox:
                    type: string
                    description: Bounding box filter for imagery search, encoded as west,south,east,north.
                datetime:
                    type: string
                    description: ISO 8601 datetime or datetime range for matching imagery scenes.
                source:
                    type: string
                    description: Optional imagery source filter, such as satellite or provider name.
                limit:
                    type: integer
                    format: int32
                    description: Maximum number of imagery scenes to return.
        SearchImageryResponse:
            type: object
            properties:
                scenes:
                    type: array
                    items:
                        $ref: '#/components/schemas/ImageryScene'
                totalResults:
                    type: integer
                    format: int32
                cacheHit:
                    type: boolean
                dataStatus:
                    $ref: '#/components/schemas/DataStatus'
        ImageryScene:
            type: object
            properties:
                id:
                    type: string
                satellite:
                    type: string
                datetime:
                    type: string
                resolutionM:
                    type: number
                    format: double
                mode:
                    type: string
                geometryGeojson:
                    type: string
                previewUrl:
                    type: string
                assetUrl:
                    type: string
        DataStatus:
            type: object
            properties:
                fetchedAt:
                    type: string
                    format: int64
                    description: |-
                        Unix ms when the underlying data was last successfully fetched upstream.
                         Zero means never — which is itself the answer, and the point of this field.
                availability:
                    type: string
                    enum:
                        - DATA_AVAILABILITY_UNSPECIFIED
                        - DATA_AVAILABILITY_OK
                        - DATA_AVAILABILITY_EMPTY
                        - DATA_AVAILABILITY_NEVER_SEEDED
                        - DATA_AVAILABILITY_UPSTREAM_ERROR
                        - DATA_AVAILABILITY_STALE
                    description: DataAvailability separates the states that a bare empty payload collapses.
                detail:
                    type: string
                    description: |-
                        Human-readable detail, safe to surface. Never contains upstream URLs or
                         credential fragments: 5xx messages are genericised on purpose elsewhere
                         (see server/error-mapper.ts, H-3), and this field must not become a way
                         around that.
            description: |-
                DataStatus makes an EMPTY RESPONSE FALSIFIABLE.

                 Measured 2026-08-19: of 147 WorldMonitor endpoints returning 200, twenty-five
                 answered with a bare `{}` or `{"events":[]}` carrying no timestamp and no
                 status. `get-fred-series` returning `{}` is indistinguishable from "FRED has no
                 such series" and "we hold no key and never fetched". Every data-integrity
                 defect found on this box that month was that shape — get-cable-health cached
                 "no navigational warnings on Earth" for 24h off a wrong envelope key while
                 upstream served 386; get-country-risk answered a question it was never asked.
                 None errored. All looked fine.

                 The problem is not that a response is empty — feeds are legitimately quiet.
                 The problem is that an empty answer does not say WHY, so a consumer cannot
                 distinguish silence from breakage. This message is the smallest thing that
                 fixes that, and it is deliberately additive: existing clients that ignore the
                 field keep working unchanged.
